.sentence {
	font-weight: bold;
	font-size: 16pt;
     background-color: white;
     clear: both;
}

.sentence-text {
     background-color: white;
     clear: both;
     font-weight: bold;
	font-size: 16pt;
}

.s{ 
    font-weight: bold;
	font-size: 16pt;
}
.s-text{
	font-weight: bold;
	font-size: 16pt;
}

.loading {
    font-style: italic;
}
