.sentence-s {
  font-size:16pt;
  font-weight:bold;
}

.DahsedSentence-sentence-s{
	font-size:16pt;
  font-weight:bold;
}

.AcceptabilityJudgment-sentence-s{
	font-size:16pt;
  font-weight:bold;
}

.FlashSentence-sentence-s{
	font-size:16pt;
  font-weight:bold;
}

.Message-sentence-s{
	font-size:16pt;
  font-weight:bold;
}

.Question-sentence-s{
	font-size:16pt;
  font-weight:bold;
}