.sentence {
  font-size:16pt;
  font-weight:bold;
}

.DahsedSentence-sentence{
	font-size:16pt;
  font-weight:bold;
}

.AcceptabilityJudgment-sentence{
	font-size:16pt;
  font-weight:bold;
}

.FlashSentence-sentence{
	font-size:16pt;
  font-weight:bold;
}

.Message-sentence{
	font-size:16pt;
  font-weight:bold;
}

.Question-sentence{
	font-size:16pt;
  font-weight:bold;
}